*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


.conteneur{
    margin: 200px;
    padding: 150px auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur form h1{
    text-align:center ;
}
.conteneur form h1:hover{
    text-decoration: dotted ;
}


.contenu{
    display: flex;
    justify-content: space-between;
}

.input > input{
    height: 40px;
    width: 300px;
    margin: 10px;
}

.conteneur form{
    width: 800px;
    height: 400px;
    /* background-color: #8bb1c8;    */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 10px #8ea7b7;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button button{
    padding: 5px;
    border-radius: 5px;
    cursor:pointer
}

.button button:hover{
    background: #97c4df;
    transition: 1s;
}

.input{
    position: relative;
}

.input img{
    position: absolute;
    margin-left: 12px;
    margin-top: 15px;
    padding-left: 3px;

}
.input input{
    padding-left:40px ;
}

.input input:active{
    border-color:1px #97c4df;
}

.input label{
    margin-left: 10px;
}

.msg_error{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: red;
    margin-bottom: 20px;    
}

